.navbar {
  background-image: linear-gradient(rgba(113, 44, 249, 1), rgba(113, 44, 249, 0.95));
  
  [data-theme='light'] & {
    background-image: linear-gradient(rgba(59, 130, 246, 0.96), rgba(59, 130, 246, 0.92));
  }
}

.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 200ms ease;
  will-change: transform;
}

.header__wrapper--pinned {
  transform: translateY(0);
}

.header {
  &__links {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  &__link {
    margin: 0 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &__theme-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 576px) {
      right: 60px;
    }
  }

  a {
    color: #fff;
  }
}

.navbar .container {
  position: relative;
}
