.header {
  &__links {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    color: #fff;
  }
}
