.navbar {
  background-image: linear-gradient(rgba(113, 44, 249, 1), rgba(113, 44, 249, 0.95));
}

.header__wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 200ms ease;
  will-change: transform;
}

.header__wrapper--pinned {
  transform: translateY(0);
}

.header {
  &__links {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  &__link {
    margin: 0 8px;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    color: #fff;
  }
}
