@import 'react-awesome-slider/dist/styles.css';
@import 'react-awesome-slider/dist/custom-animations/cube-animation.css';

.project-details__modal {
  .modal-content {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
  }

  &__header {
    border-bottom: none !important;

    .btn-close {
      font-size: 2rem;
      width: 6rem;
      filter: var(--bs-btn-close-white-filter, invert(1));
      
      [data-theme='light'] & {
        filter: none;
      }
    }

    &__title {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;

      &__link {
        &__icon {
          margin-left: 1rem;
          font-size: 2.5rem;

          path {
            stroke: var(--text-primary);
          }
        }
      }
    }
  }

  &__body {
    &__image-container {
      padding-bottom: 5rem;

      &__img {
        width: 100%;
        height: 100%;
        border: 5px solid var(--border-color);
      }
    }

    &__description {
      margin-bottom: 20px;
      font-size: 1.25rem;
    }

    &__skill {
      font-size: 3rem;

      &__name {
        font-size: 1.25rem;
      }
    }
  }
}
