// @use 'scss/mixins/github-corner' as github;

.home {
  min-height: 450px;
  padding: 0;

  &__wrapper {
    height: calc(100vh - 56px);
    flex-direction: column;
  }

  &__header {
    &__name {
      font-weight: 600 !important;
      font-size: 3rem;
    }

    &__titles {
      font-size: 2rem;
    }

    &__icon {
      height: 150px;
      width: 150px;
    }
  }

  // &__github-corner {
  //   @include github.animate;
  // }

  &__chevron-down {
    padding-bottom: 2rem;

    .chevron-down {
      fill: #fff;
      margin: auto;
      width: 3rem;
      height: 3rem;
      animation: hover-me 0.5s infinite ease-in-out alternate;
    }
  }

  @keyframes hover-me {
    100% {
      transform: translate3d(0, 25px, 0);
    }
  }
}
