.home {
  min-height: 450px;
  padding: 0;
}

.name {
  font-weight: 600 !important;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.titles {
  font-size: 2rem;
}

.icon {
  height: 150px;
  width: 150px;
}
