@use 'sass:color';

.skills {
  &__title {
    padding-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
  }

  &__list {
    justify-content: center;
    color: white;
    text-align: center;

    &__tile {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #000a28;
      border: 0.1rem solid #5b42f5;
      width: 8rem;
      height: 8rem;
      margin: 12px 0;
      border-radius: 8px;
      padding: 0 0.5rem;

      &__icon {
        font-size: 3rem;
      }

      &__name {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}
