.experience {
  &__title {
    padding-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .timeline {
    &__item {
      &:not(.start) {
        .vertical-timeline-element-content {
          border: 0.25rem solid #5b42f5;
          border-radius: 0.5rem;
          background: #000a28;
          box-shadow: 0 3px 0 #5b42f5;
        }

        .vertical-timeline-element-content-arrow {
          border-right-color: #5b42f5;
        }
      }

      &__icon {
        width: 36px;
        height: 36px;
        margin: -18px 0px 0px -18px;
      }
    }
  }
}
