.experience {
  &__title {
    padding-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }

  .timeline {
    &__item {
      &:not(.start) {
        .vertical-timeline-element-content {
          border: 0.25rem solid var(--accent-primary);
          border-radius: 0.5rem;
          background: var(--card-bg);
          box-shadow: 0 3px 0 var(--accent-primary);
        }

        .vertical-timeline-element-content-arrow {
          border-right-color: var(--accent-primary);
        }
      }

      &__icon {
        width: 36px;
        height: 36px;
        margin: -18px 0px 0px -18px;
      }
    }

    &:before {
      background: var(--line-color);
    }
  }
}
