.footer {
  background-color: #00071e;
  background-image: linear-gradient(90deg, #4f4f4f2e 1px, transparent 0),
    linear-gradient(180deg, #4f4f4f2e 1px, transparent 0);
  background-size: 14px 24px;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  text-align: center;

  a {
    color: #fff;
  }

  &__social-links {
    padding-top: 3rem;
  }
}
