.about {
  &__heading {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__body {
    padding: 5% 0;

    &__picture-card {
      background-color: var(--card-bg) !important;
      -webkit-box-shadow: 0 4px 10px var(--shadow);
      -moz-box-shadow: 0 4px 10px var(--shadow);
      box-shadow: 0 4px 10px var(--shadow);
      border: 0.25rem solid var(--accent-primary);

      &__title {
        font-size: 2.5rem;
      }

      &__description {
        font-size: 1.2rem;
        color: var(--text-primary);
      }

      &__image {
        width: 100%;
        height: 100%;
        max-height: 50vh;
        object-fit: cover;
        border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;

        @media (min-width: 768px) {
          max-height: 60vh;
        }

        @media (min-width: 992px) {
          border-radius: 2px 0 0 2px;
          max-height: unset;
        }
      }
    }
  }
}
