@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap';

.about {
  &__heading {
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__body {
    padding: 5% 0;

    &__picture-card {
      background-color: #000a28 !important;
      -webkit-box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
      border: 0.25rem solid #5b42f5;

      &__title {
        font-size: 2.5rem;
      }

      &__description {
        font-size: 1.2rem;
      }

      &__image {
        width: 100%;
        height: 100%;
        max-height: 50vh;
        object-fit: cover;
        border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;

        @media (min-width: 768px) {
          max-height: 60vh;
        }

        @media (min-width: 992px) {
          border-radius: var(--bs-card-inner-border-radius) 0 0 var(--bs-card-inner-border-radius);
          max-height: unset;
        }
      }
    }
  }
}
